In [1]:
# import libraries
import math

In [3]:
a = 4
b = 6
total = a + b

pa = a / total
pb = b / total

print("Proportion of A",pa )
print("Proportion of B",pb )

Proportion of A 0.4
Proportion of B 0.6

In [4]:
# entopy
entropy = -pa * math.log(pa,2) - pb * math.log(pb,2)
print("Entropy",entropy)

Entropy 0.9709505944546686

In [6]:
# Gini impurity
gini = 1 - pa**2 - pb**2 
print("Gini impurity",gini)

Gini impurity 0.48

In [7]:
# Decision tree 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

In [8]:
df = sns.load_dataset('titanic')    
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [9]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [10]:
df.drop('deck', axis=1, inplace=True)

# impute missing values
imputer = SimpleImputer(strategy='median')
df['age'] = imputer.fit_transform(df['age'].values.reshape(-1,1))

imputer = SimpleImputer(strategy='most_frequent')
df['embarked'] = imputer.fit_transform(df['embarked'].values.reshape(-1,1))

# le = LabelEncoder()

ValueError: 2

In [ ]:
df.isnull